.container-root {
  width: 100%;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.container-size[data-size="small"] {
  max-width: 640px;
}

.container-size[data-size="medium"] {
  max-width: 960px;
}

.container-size[data-size="large"] {
  max-width: 1280px;
}

.container-size[data-size="xlarge"] {
  max-width: 1920px;
}
