/* Sidebarのスタイル */
.sidebar {
  /* サイドバーを浮かすためにposition: absoluteを設定 */
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - var(--space-4));
  z-index: 10; /* mainコンテンツより手前に表示 */
  background: var(
    --color-background
  ); /* 背景色がないと下のコンテンツが透ける */

  display: flex;
  flex-direction: column;
  /* Header, Contents, Footerを上下に分ける */
  justify-content: space-between;

  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);

  /* 開閉時のアニメーション */
  transition: width 0.2s ease;
  /* width: 0 の時に中身がはみ出ないようにする */
  overflow: hidden;
  /* アニメーション中にテキストが改行されないようにする */
  white-space: nowrap;
}

.sidebar[data-open="true"] {
  /* 開いているときの幅 */
  width: 240px;
}

.sidebar[data-open="false"] {
  /* 閉じているときの幅 */
  width: 0px;
  box-shadow: none;
}

/* Sidebar Headerのスタイル */
.sidebar-header {
  /*  */
}

/* Sidebar Contentsのスタイル */
.sidebar-contents {
  /* コンテンツ部分を伸縮可能にする */
  flex-grow: 1;
}

/* Sidebar Footerのスタイル */
.sidebar-footer {
  /*  */
}

/* リンクのスタイル */
.link {
  /* リンクの下線を削除 */
  text-decoration: none;
}
