.menu-link {
  width: 100%;
  cursor: pointer;
  text-decoration: none;

  justify-content: flex-start;
}

.heading-link {
  color: inherit;
  text-decoration: none;
}

.heading-link:hover {
  text-decoration: underline;
}
