name: Cache npm and Playwright on main

on:
  push:
    branches:
      - main

jobs:
  cache-npm-playwright:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/web/
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: "apps/web/package.json"

      - name: Cache node modules
        uses: ./.github/actions/cache-npm

      - name: Install dependencies
        run: npm ci

      - name: Set up Playwright browsers
        uses: ./.github/actions/setup-playwright
        with:
          project-directory: apps/web
